@model Player.Models.Song

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["songTitle"] (@ViewData["songGenre"])</h1>

<p>from @ViewData["songArtist"]</p>



