@model Player.Models.Playlist;
@{
    ViewData["Title"] = "Rename Playlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h1>Rename the Playlist</h1>
    </div>
    <div class="card-body text-center">
        <form method="post">

            <div class="form-group">
                <input type="hidden" value="@ViewData["playlistId"]" asp-for="PlaylistId"/>
                <input class="form-control" value="@ViewData["playlistName"]" name="playlistName" type="text" asp-for="Name" required />
            </div>

            <input type="submit" />
        </form>
    </div>
</div>

